@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing:border-box;
  margin:0;
}

body {
  background: linear-gradient(90deg, #BE8CEF 0%, rgba(61, 46, 232, 0.83) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size:10px;
  height: 100vh;
  margin: -20px 0 50px;
}

.container {
  background-color: #FFFFFF;
  border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  min-width:370px;
}

h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-color:rgba(0, 128, 128);
}
.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color: #FFFFFF;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
  color:#FFFFFF;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid rgba(0, 128, 128);
}

@media only screen and (max-width: 600px) {
    .left-container{
      display: none;
    }
    .lg-view {
      display:none;  
    }
  }
  
  @media only screen and (min-width: 600px) {
    .sm-view {
      display:none;  
    }
  }
  
  form p {
    text-align:left;
  }

.item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .item p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    flex: 2;
  }
  
  .item a {
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: #00b4cf;
    font-weight: bold;
    margin-right: 15px;
    transition: color 0.3s;
  }
  
  .item a:hover {
    color: #008b9a;
  }
  
  .item form {
    margin: 0;
    display: inline;
  }
  
  .item form button {
    display: flex;
    border-radius: 5px;
    border: 1px solid #ff4d4d;
    background-color: #ff4d4d;
    color: white; 
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .item form button:hover {
    background-color: #e60000;
  }

.right-inner-container .first a{
    display: flex;
    text-decoration: none;
}