<!-- <footer class="bg-light text-dark pt-5 pb-3 mt-auto border-top">
    <div class="container">
        <div class="row text-start">
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">О нас</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted text-decoration-none">Пункты выдачи</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Вакансии</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">Пользователям</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted text-decoration-none">Связаться с нами</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Вопрос - Ответ</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">Для предпринимателей</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted text-decoration-none">Продавайте на Uzum</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Вход для продавцов</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Открыть пункт выдачи</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <h6 class="fw-bold">Скачать приложение</h6>
                <div class="mb-2">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Apple_logo_black.svg" alt="" width="20"> AppStore
                </div>
                <div class="mb-3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Google_Play_Arrow_logo.svg" alt="Google Play" width="20"> Google Play
                </div>
                <h6 class="fw-bold">Uzum в соцсетях</h6>
                <div class="d-flex gap-2">
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="24" alt="Instagram"></a>
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" width="24" alt="Telegram"></a>
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" width="24" alt="Facebook"></a>
                    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="24" alt="YouTube"></a>
                </div>
            </div>
        </div>

        <hr>
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center text-muted small">
            <div>
                <a href="#" class="text-muted me-3 text-decoration-none">Соглашение о конфиденциальности</a>
                <a href="#" class="text-muted text-decoration-none">Пользовательское соглашение</a>
            </div>
            <div class="mt-2 mt-md-0 text-center text-md-end">
                &copy;2025 ООО «UZUM MARKET». ИНН 309376127. Все права защищены
            </div>
        </div>
    </div>
</footer> -->
